{% extends "base.html.twig" %}

{% block title %}Ecommerce | Vente en ligne de produits de luxe{% endblock %}

{% block h1 %}Ecommerce{% endblock %}

{% block body %}

    {# <h2>Bonjour {{ firstNameTwig }}</h2> #}
    <h2>Bonjour 
        {% if app.user %}
            {{ app.user.firstName}}
        {% endif %}
    </h2>

    <pre>
        {{ dump(app.user) }}
    </pre>

    {#
        app.user retourne :
            - null : s'il n'y a pas d'utilisateur connecté
            - objet issu de l'entity User
    #}

    <img src="{{ asset('images/ecommerce.webp') }}" alt="" class="imgHome">

    {# <pre>
        {{ dump(fruits) }}
    </pre> #}
    {% for fruit in fruits %}
        {# <pre>
            {{ dump(fruit) }}
        </pre> #}
        <h2>{{ fruit }}</h2>
    {% endfor %}

{% endblock %}