{% extends 'base.html.twig' %}

{% block title %}Brand index{% endblock %}

{% block h1 %}Gestion des marques ({{ brands|length }}){% endblock %}

{% block body %}

    <a class="btn btn-dark" href="{{ path('app_brand_new') }}">Ajouter une marque</a>


    <table class="table table-hover table-striped table-bordered text-center mt-3">

        <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Quantité</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.id }}</td>
                <td>{{ brand.title }}</td>
                <td>{{ brand.products|length }}</td>
                <td>
                    <a href="{{ path('app_brand_show', {'id': brand.id}) }}" class="text-decoration-none">
                        {{ ux_icon('lucide:file', {'class': 'icon25 text-warning'}) }}
                    </a>
                    <a href="{{ path('app_brand_edit', {'id': brand.id}) }}" class="text-decoration-none">{{ ux_icon('lucide:edit', {'class': 'icon25 text-primary'}) }}</a>

                    {{ include('brand/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
