{% extends "base.html.twig" %}

{% block h1 %}Modifier le produit "{{ product.title|capitalize }}"{% endblock %}

{% block body %}

    <a class="btn btn-dark" href="{{ path('app_product_index') }}">Gestion des produits</a>

        {{ form_start(formProduct) }}

        <div class="row">
            <div class="col-md-6">{{ form_row(formProduct.title) }}</div>
            <div class="col-md-6">{{ form_row(formProduct.price) }}</div>
        </div>

        {{ form_row(formProduct.description) }}

        <div class="row">
            <div class="col-md-6">{{ form_row(formProduct.category) }}</div>
            <div class="col-md-6">{{ form_row(formProduct.brand) }}</div>
        </div>

        {{ form_row(formProduct.materials) }}


        <div class="row align-center">
            <div class="col-md-6">{{ form_row(formProduct.picture) }}</div>
            <div id="zoneImage" class="col-md-6">
                {% if product.picture %}
                    <img src="{{ asset('images/product/' ~  product.picture ) }}" alt="" class="w-75 mx-auto d-block">
                {% endif %}
            </div>
        </div>
        

        {{ form_rest(formProduct)}}

        <input type="submit" value="Modifier" class="btn btn-primary w-100 mt-2">
        

    {{ form_end(formProduct) }}

{% endblock %}


{% block js %}

    <script>

        let zoneImage = document.getElementById('zoneImage');

        document.getElementById('product_picture').addEventListener('change', function(e){

            zoneImage.textContent = "";
            let imagePreview = document.createElement('img');
            imagePreview.setAttribute('src', URL.createObjectURL(e.target.files[0]))
            imagePreview.setAttribute('class' , 'w-75 mx-auto d-block')
            zoneImage.append(imagePreview)

        })
    
    
    </script>

{% endblock %}