{% extends "base.html.twig" %}

{% block h1 %}Gestion des produits ({{ products|length }}){% endblock %}

{% block body %}

    <a class="btn btn-dark" href="{{ path('app_product_new') }}">Ajouter un produit</a>

    {# ici on affichera le tableau des produits #}

    <table class="table table-hover table-striped table-bordered text-center mt-3">

        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Prix (€)</th>
                <th>Description</th>
                <th>Catégorie</th>
                <th>Marque</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {#
                products est un tableau d'objets
                on doit le boucler
                à chaque tour de boucle, on extrait un objet (product)
                Dans l'objet il y a des propriétés : id, title, price etc...

                On ne peut pas afficher un objet, on affiche cependant les propriétés situées dans l'objet
                syntaxe : objet.propriété

                Les propriétés relationnelles sont des objets (ou bien des tableaux des objets)

                objet.objet.propriété

                object.property 
                ex: product.title 

                il existe des propriétés relationnelles 
                object.object 
                ex : product.category 

                product.category.title


                product.category = null
                product.category.title

            #}


            {% for product in products %}

                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title|capitalize }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        {% if product.description %}

                            {% if product.description|length > 40 %}
                                {{ product.description|slice(0,40) }}...
                            {% else %}
                                {{ product.description }}
                            {% endif %}
                            {# {{ product.description|nl2br }} #}
                        {% else %}
                            {{ ux_icon('iconoir:xmark', {'class': 'icon30 text-danger'}) }}
                        {% endif %}
                    </td>

                    <td>
                        {# si category de product n'est pas null (c'est un objet) #}

                        {% if product.category %}
                            <a href="{{ path('app_category_show', {'id' : product.category.id }) }}">
                                {{ product.category.title|capitalize }}
                            </a>
                        {% else %}
                            {{ ux_icon('iconoir:xmark', {'class': 'icon30 text-danger'}) }}
                        {% endif %}
                    </td>

                    <td>
                        {% if product.brand %}
                            <a href="{{ path('app_brand_show', {'id' : product.brand.id }) }}">
                                {{ product.brand.title|capitalize }}
                            </a>
                        {% else %}
                            {{ ux_icon('iconoir:xmark', {'class': 'icon30 text-danger'}) }}
                        {% endif %}
                    </td>

                    <td>
                        <a href="{{ path('app_product_show', {'id' : product.id }) }}" class="text-decoration-none">
                            {{ ux_icon('lucide:file', {'class': 'icon25 text-warning'}) }}
                        </a>

                        <a href="{{ path('app_product_edit', {'id' : product.id }) }}" class="text-decoration-none">
                            {{ ux_icon('lucide:edit', {'class': 'icon25 text-primary'}) }}
                        </a>
                        
                        <a 
                            href="{{ path('app_product_delete', {'id' : product.id }) }}" 
                            class="text-decoration-none"
                            onclick="return confirm('êtes-vous sûr de vouloir supprimer ce produit ?')"
                        >
                            {{ ux_icon('lucide:trash-2', {'class': 'icon25 text-danger'}) }}
                        </a>

                     
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun résultat</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}

