{% extends "base.html.twig" %}

{% block h1 %}{{ product.title|capitalize }}{% endblock %}

{% block body %}

    <a class="btn btn-dark" href="{{ path('app_product_index') }}">Gestion des produits</a>

    <table class="table table-hover table-striped table-bordered mt-3">
        <tr>
            <th>ID</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ product.title|capitalize }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ product.price }}€</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                {% if product.description %}
                    {{ product.description|nl2br }}
                    {# nl2br => New Line To BReak #}
                {% else %}
                    {{ ux_icon('iconoir:xmark', {'class': 'icon30 text-danger'}) }}
                {% endif %}

            </td>
        </tr>
        <tr>
            <th>Catégorie</th>
            <td>
                {% if product.category %}
                    <a href="{{ path('app_category_show', {'id' : product.category.id }) }}">{{ product.category.title|capitalize }}</a>
                {% else %}
                    {{ ux_icon('iconoir:xmark', {'class': 'icon30 text-danger'}) }}
                {% endif %}
            </td>
        </tr>

        <tr>
            <th>Marque</th>
            <td>
                {% if product.brand %}
                    <a href="{{ path('app_brand_show', {'id' : product.brand.id }) }}">{{ product.brand.title|capitalize }}</a>
                {% else %}
                    {{ ux_icon('iconoir:xmark', {'class': 'icon30 text-danger'}) }}
                {% endif %}
            </td>
        </tr>

        <tr>
            {# variable twig #}
            {% set age = 22 %}

            {#
                Si le nombre de matières est supérieur à 1 
                "Matières" prend un S
                Sinon
                "Matière" ne prend pas de S
            
            #}

            {% set materialName = '' %}
            
            {% if product.materials|length > 1 %}
                {% set materialName = 's' %}
            {% endif %}

            <th>Matière{{ materialName }}</th>
            <td>
                <ul class="list-group">
                    {% for material in product.materials %}
                        <a class="text-decoration-none" href="{{ path('app_material_show', {'id' : material.id }) }}">
                            <li class="list-group-item list-group-item-action">{{ material.title }}</li>
                        </a>
                    {% endfor %}
                </ul>

            </td>
        </tr>


    </table>
{% endblock %}