<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{{ path('app_home') }}">{{ company }}</a>

        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_catalog') }}">Catalogue</a>
                    {#
                        La fonction twig path() permet de rediriger
                            -1e argument OBLIGATOIRE (type : string) : nom(= name) de la route
                            -2e argument FACULTATIF (type : array) : tableau des paramètres

                            syntaxe :
                                En php 
                                [ 'k' => 'v' ]

                                En twig 
                                { 'k' : 'v' }

                    #}
                </li>

                


                </li>
                    <a class="nav-link text-white" href="{{ path('app_chart') }}">Chart</a>
                </li>

                

            


            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li>
                    <a class="nav-link text-white" href="{{ path('app_cart_index') }}">
                        {{ ux_icon('tdesign:cart-filled', {'class': 'icon25 text-white'}) }} ({{ parameter.cartQuantity}})
                    </a>
                </li>



                {# Si un utilisateur est connecté #}
                {% if app.user %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_admin') }}">Back office</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_profile_index') }}">Mon compte</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                    
                {% else %} {# utilisateur non connecté #}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_register') }}">Inscription</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% endif %}
                {#
                    app.user retourne :
                        - null : s'il n'y a pas d'utilisateur connecté
                        - objet issu de l'entity User : s'il y a un utilisateur connecté
                #}


            </ul>
        </div>

    </div>
</nav>